/* 폰트 import */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

/* 영역 넘어가는 것 방지용 코드 */
/* 그러나 웹 뷰에서는 되나 앱 실행화면에서는 적용이 안됨 개같은거 */
/* body{
    overflow: hidden;
    touch-action: none;
    position: fixed;
} */

/* 기본 박스 css */
.container{
    background: linear-gradient(180deg, #FFFFFF 29.69%, #C9FFEB 83.85%, #BBEBFF 100%);
    height: 812px;
    /* border: solid 1px black; */
    /* padding: 0px; */
    position: relative;
}


/* 상단 메뉴 바 */
#upperbar{
    margin-top: 49px;
    margin-left: 18px;
    margin-right: 18px;
}

#lefticons{
    text-align: right;
    padding-right: 0px;
}

#chart{
    padding-left: 0px;
}

/* 년/월 메뉴 기본 css */
#date{
    margin-top: 17px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 43px;
}

#previous{
    padding-top: 13px;
    padding-left: 0px;
}

#next{
    text-align: right;
    padding-top: 13px;
    /* 0px로 하면 약간 튀어나와 보여서 미세조정 */
    padding-right: 1.7px;
}

#year{
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 78.1%;
    color: #606060;
    letter-spacing: 0.07em;
}

#month{
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 31.24px;
    letter-spacing: 0.07em;
    color: #000000;
}

/* 구슬 진열장 css */
#insideout{
    margin-top: 21px;
    margin-left: 2px;
    margin-right: 2px;
}

#ball{
    padding: 0px;
    text-align: center;
}

#add{
    position: absolute;
    bottom: 29px;
}

